@font-face {
  font-family: irsans;
  src: url("./font/irsans.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  font-family: irsans;
}

body {
  direction: rtl;
  background-color: #f1f1f1;
}
header {
  display: flex;
  height: 80px;
  width: 100%;
  border-top: solid 4px #7e3994;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  top: 0;
  z-index: 999;
}
header .right .item {
  padding: 32px 20px;
}
header .right .item a {
  text-decoration: none;
  color: #381843;
}

header .right .item:hover {
  background-color: #7e3994;
}
header .right .item:hover a {
  color: white;
}

header .left {
  padding: 10px;
}

header .left img {
  width: 200px;
  object-fit: cover;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search .top {
  background-color: white;
  margin: 10px auto;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .top input {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s;
}

.search .top input:focus {
  box-shadow: 0px 0px 15px #7e3994;
  border: 1px solid #7e3994;
}

.search .top button {
  width: 60px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: #fff;
  border-right: 1px solid gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-botton img {
  width: 20px;
  height: 20px;
}

.search .bottom {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
  display: flex;
  align-items: center;
}

.search .bottom span {
  margin-right: 10px;
  font-size: 13px;
  color: #7e3994;
  cursor: pointer;
}

.search .bottom span:hover {
  color: black;
}

.notice {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.notice img {
  object-fit: cover;
  border-top: solid 4px #7e3994;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.font-main {
  background-color: white;
  margin: 20px auto;
  border-top: solid 4px #7e3994;
  width: 100%;
  /* height: 400px; */
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.font-main .top {
  display: flex;
  justify-content: space-between;
}

.font-main .top .left {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.font-main .top .left .name-font {
  padding: 10px;
  width: 300px;
  height: 180px;
  border-right: 4px solid #dccbe6;
  background-color: #fcf5ff;
  border-radius: 5px;
  position: relative;
}
.font-main .top .left .name-font span {
  position: absolute;
  right: 0px;
  padding: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #dccbe6;
}

.font-main .top .left .name-font img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.font-main .top .support {
  padding: 10px;
  height: 80px;
  width: 300px;
  line-height: 38px;
  border-right: 4px solid #a579be;
  background-color: #f9ebff;
  border-radius: 5px;
}
.font-main .top .support p {
  font-size: 16px;
}
.font-main .top .support p a {
  text-decoration: none;
  color: #381843;
  font-weight: bold;
}
.font-main .top .support p a:hover {
  color: black;
}

.font-main .top .star {
  padding: 10px;
  height: 80px;
  width: 300px;
  border-right: 4px solid #834ea2;
  background-color: #f3dbff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.font-main .top .star .top {
  font-size: 15px;
}
.font-main .top .star .bottom {
  display: flex;
}
.font-main .top .star .bottom img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.font-main .top .download {
  padding: 11px;
  height: 40px;
  width: 300px;
  background-color: #7e3995;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.font-main .top .download:hover {
  background-color: #650287;
}
.font-main .top .download img {
  width: 30px;
}

.font-main .top .information {
  padding: 10px;
}
.font-main .top .information p {
  line-height: 40px;
  font-size: 15px;
  color: #444;
}

.font-main .top .right {
  padding: 30px 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.font-main .top .right hr {
  width: 80%;
  height: 0.5px;
  margin-top: 15px;
  background-color: #999;
}

.font-main .top .right .font-bish {
  width: 80%;
  margin-top: 20px;
}
.font-main .top .right p {
  text-align: right;
}

.font-main .top .right img {
  object-fit: cover;
  width: 80%;
}

.font-main .bottom {
  padding: 10px;
}

.font-main .bottom p {
  padding: 8px 4px;
  color: #444;
  font-size: 15px;
}

.font-main .bottom p span {
  color: #650287;
  cursor: pointer;
}
.font-main .bottom p span:hover {
  color: black;
}

.suggestion {
  padding: 0px 10px;
}

.suggestion .title {
  border-bottom: 1px dashed gray;
}
.suggestion .title h1 {
  font-size: 18px;
}

.suggestion .boxs {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.suggestion .boxs .box {
  width: 300px;
  height: 170px;
  background-color: white;
  border-radius: 5px;
  border-top: 5px solid #7e3994;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.suggestion .boxs .box:hover {
  border: 1px solid #7e3994;
  border-top: 5px solid #7e3994;
  transform: scale(1.01);
}
.suggestion .boxs .box .top {
  display: flex;
  justify-content: center;
}
.suggestion .boxs .box .top img {
  width: 50%;
  object-fit: cover;
  margin-top: 20px;
}

.suggestion .boxs .box .bottom {
  background-color: #f8f8f8;
  padding: 22px;
}

footer{
  width: 100%;
  color: white;
}
footer .top{
  background-color: #8D54A3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer .top p a{
  color: white;
  text-decoration: none;
}

footer .bottom{
  background-color: #713489;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}